@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@500&display=swap');
$font-one: 'Lato', sans-serif;
$font-two: 'Oswald', sans-serif;
$white: #FFFFFF;
$red:#ff565b;
$gray-one: #7d7e83;
$gray-two: #f9fafc;
$black: #1e1f24;
$break-small: 512px;
$break-medium: 1024px;